In [3]:
import pandas as pd
import os

In [2]:
path = '/home/shiva/Datasets/V2_01_easy/V2_01_easy/Custom_Datasets/'

In [54]:
for dir_name in next(os.walk(path))[1][1:]:
    print(dir_name)
    df = pd.read_csv(f'{path}/{dir_name}/mav0/imu0/data.csv')
    cols = df.columns.tolist()
    temp = cols[1:4]
    del(cols[1])
    del(cols[1])
    del(cols[1])
    cols.insert(1, temp[0])
    cols.insert(1, temp[1])
    cols.insert(1, temp[2])
    df = df[cols]
    df.to_csv(f'{path}/{dir_name}/mav0/imu0/data.csv', index=False)
    # to_remove = []
    # for col in df.columns.tolist():
    #     if 'Unnamed:' in col:
    #         to_remove.append(col)
    # df.drop(columns = to_remove, inplace=True)
    # df.to_csv(f'{path}/{dir_name}/mav0/imu0/data.csv', index=False)
    print(df.columns)

Home_Office_Capture_800p
Index(['#timestamp [ns]', 'w_RS_S_x [rad s^-1]', 'w_RS_S_y [rad s^-1]',
       'w_RS_S_z [rad s^-1]', 'a_RS_S_x [m s^-2]', 'a_RS_S_y [m s^-2]',
       'a_RS_S_z [m s^-2]'],
      dtype='object')
Virtana_Office_Capture_800p
Index(['#timestamp [ns]', 'w_RS_S_x [rad s^-1]', 'w_RS_S_y [rad s^-1]',
       'w_RS_S_z [rad s^-1]', 'a_RS_S_x [m s^-2]', 'a_RS_S_y [m s^-2]',
       'a_RS_S_z [m s^-2]'],
      dtype='object')
Virtana_Office_Hard_Capture_400p
Index(['#timestamp [ns]', 'w_RS_S_x [rad s^-1]', 'w_RS_S_y [rad s^-1]',
       'w_RS_S_z [rad s^-1]', 'a_RS_S_x [m s^-2]', 'a_RS_S_y [m s^-2]',
       'a_RS_S_z [m s^-2]'],
      dtype='object')
Home_Office_Capture_400p
Index(['a_RS_S_y [m s^-2]', '#timestamp [ns]', 'w_RS_S_x [rad s^-1]',
       'a_RS_S_x [m s^-2]', 'w_RS_S_z [rad s^-1]', 'w_RS_S_y [rad s^-1]',
       'w_RS_S_x [rad s^-1].1'],
      dtype='object')

In [63]:
df.head(5)

,#timestamp [ns],w_RS_S_x [rad s^-1],w_RS_S_y [rad s^-1],w_RS_S_z [rad s^-1],a_RS_S_x [m s^-2],a_RS_S_y [m s^-2],a_RS_S_z [m s^-2]
0,1728579998420670976,0.010653,-0.010653,0.001065,-9.816887,0.402226,-0.266830
1,1728579998425335808,0.018109,-0.015979,-0.002131,-9.809372,0.408799,-0.255570
2,1728579998430425856,0.013848,-0.018109,-0.007457,-9.780775,0.420238,-0.267009
3,1728579998435260928,0.014914,-0.014914,-0.008522,-9.770946,0.401390,-0.233379
4,1728579998440634112,0.015979,-0.021305,-0.008522,-9.738954,0.379990,-0.211019

In [62]:
dir_name = 'Home_Office_Capture_400p'
df = pd.read_csv(f'{path}/{dir_name}/mav0/imu0/data.csv')
cols = ['#timestamp [ns]', 'w_RS_S_x [rad s^-1]', 'w_RS_S_y [rad s^-1]',
   'w_RS_S_z [rad s^-1]', 'a_RS_S_x [m s^-2]', 'a_RS_S_y [m s^-2]',
   'a_RS_S_z [m s^-2]']
df = df[cols]

In [64]:
df.to_csv(f'{path}/{dir_name}/mav0/imu0/data.csv', index=False)

In [59]:
f'{path}/{dir_name}/mav0/imu0/data.csv'

'/home/shiva/Datasets/V2_01_easy/V2_01_easy/Custom_Datasets//Virtana_Office_Capture_400p/mav0/imu0/data.csv'