In [28]:
import pandas as pd
import numpy as np

# IMU Changes
- IMU data was recorded at 200hz.
- Because of the high frequency of this data, adding deltas (between 1000 and 1100 microseconds) were not significant to cause Kimera-VIO to crash.
- Will now modify raw data and change it to 100 hz.

In [29]:
df = pd.read_csv('./mav0/imu0/data.csv')

In [30]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].astype('float64')

In [31]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #timestamp [ns]      22800 non-null  float64
 1   w_RS_S_x [rad s^-1]  22800 non-null  float64
 2   w_RS_S_y [rad s^-1]  22800 non-null  float64
 3   w_RS_S_z [rad s^-1]  22800 non-null  float64
 4   a_RS_S_x [m s^-2]    22800 non-null  float64
 5   a_RS_S_y [m s^-2]    22800 non-null  float64
 6   a_RS_S_z [m s^-2]    22800 non-null  float64
dtypes: float64(7)
memory usage: 1.2 MB

In [32]:
# Reducing to 100 hz
df = df.iloc[::2]

In [33]:
df.shape

(11400, 7)

In [34]:
np.unique(np.diff(df['#timestamp [ns]']), return_counts=True)

(array([ 9999872., 10000128.]), array([5700, 5699]))

In [35]:
(21096448 - 18903552)/1000

2192.896

### Introducing Minor Variation in IMU Timestamps

In [9]:
random_nanoseconds_to_add = np.random.uniform(0, 1000000, 10)

In [761]:
#random_nanoseconds_to_add = np.append(random_nanoseconds_to_add, [0,0,0])

In [762]:
random_nanoseconds_to_add

array([308214.61441624, 685186.26805477, 726769.55699726, 770577.69431322,
       390035.21969727, 618651.25075812,  72658.03245128, 598611.17246488,
       370253.88026937, 593170.62374219])

In [763]:
default_ts = df['#timestamp [ns]'].values

In [764]:
default_ts

array([1.41339321e+18, 1.41339321e+18, 1.41339321e+18, ...,
       1.41339333e+18, 1.41339333e+18, 1.41339333e+18])

In [765]:
modified_ts = np.array([])

In [766]:
# i=0
# for def_ts in default_ts:
#     if i < 1000:
#         modified_ts = np.append(modified_ts, def_ts)
#     else:
#         modified_ts = np.append(modified_ts, float(def_ts - np.random.choice(random_nanoseconds_to_add, 1)[0]))
#     i += 1

In [767]:
for def_ts in default_ts:
    modified_ts = np.append(modified_ts, float(def_ts - np.random.choice(random_nanoseconds_to_add, 1)[0]))

In [768]:
modified_ts[1]- modified_ts[0]

10228480.0

In [769]:
df['#timestamp [ns]'] = modified_ts

In [770]:
np.unique(np.diff(df['#timestamp [ns]']), return_counts=True)

(array([ 9302016.,  9302272.,  9345792.,  9346048.,  9387264.,  9387520.,
         9453824.,  9454080.,  9474048.,  9474304.,  9479424.,  9479680.,
         9537536.,  9537792.,  9581312.,  9581568.,  9599488.,  9599744.,
         9619456.,  9619712.,  9622784.,  9623040.,  9643264.,  9643520.,
         9663232.,  9663488.,  9682432.,  9682688.,  9684736.,  9684992.,
         9689344.,  9689600.,  9702400.,  9702656.,  9704704.,  9704960.,
         9709568.,  9709824.,  9714944.,  9715200.,  9751296.,  9751552.,
         9764352.,  9764608.,  9771264.,  9771520.,  9771776.,  9776896.,
         9777152.,  9791488.,  9791744.,  9796864.,  9797120.,  9822464.,
         9822720.,  9827840.,  9828096.,  9848064.,  9848320.,  9866240.,
         9866496.,  9871616.,  9871872.,  9891840.,  9892096.,  9907712.,
         9907968.,  9913088.,  9913344.,  9914624.,  9914880.,  9917952.,
         9918208.,  9933312.,  9933568.,  9937920.,  9938176.,  9956096.,
         9956352.,  9958400.,  9958656.,  9974272.,  9974528.,  9979648.,
         9979904.,  9980160.,  9994496.,  9994752.,  9999872., 10000128.,
        10005248., 10005504., 10019840., 10020096., 10020352., 10025472.,
        10025728., 10041344., 10041600., 10043648., 10043904., 10061824.,
        10062080., 10066432., 10066688., 10081792., 10082048., 10085120.,
        10085376., 10086656., 10086912., 10092032., 10092288., 10107904.,
        10108160., 10128128., 10128384., 10133504., 10133760., 10151680.,
        10151936., 10171904., 10172160., 10177280., 10177536., 10202880.,
        10203136., 10208256., 10208512., 10222848., 10223104., 10228224.,
        10228480., 10228736., 10235392., 10235648., 10248448., 10248704.,
        10284800., 10285056., 10290176., 10290432., 10295040., 10295296.,
        10297344., 10297600., 10310400., 10310656., 10315008., 10315264.,
        10317312., 10317568., 10336512., 10336768., 10356480., 10356736.,
        10376960., 10377216., 10380288., 10380544., 10400256., 10400512.,
        10418432., 10418688., 10462208., 10462464., 10520320., 10520576.,
        10525696., 10525952., 10545920., 10546176., 10612480., 10612736.,
        10653952., 10654208., 10697728., 10697984.]),
 array([ 51,  54,  61,  61,  48,  59,  40,  66,  53,  81,  53,  61,  56,
         54,  52,  72,  74,  57,  52,  69,  50,  59,  53,  43,  69,  58,
         62,  55,  57,  61,  63,  66,  42,  55,  65,  68,  62,  58,  60,
         62,  50,  56,  51,  51,  51, 108,  54,  59,  54,  51,  54,  50,
         64,  48,  62,  50,  65,  55,  57,  61,  56,  54,  55,  50,  66,
         57,  60,  61,  39,  67,  54,  56,  53,  54,  54,  53,  56,  59,
         66,  56,  60,  58,  64,  67, 121,  41,  67,  55, 565, 545,  59,
         50,  51, 102,  57,  72,  48,  60,  49,  73,  62,  48,  58,  51,
         47,  56,  52,  53,  57,  50,  59,  56,  64,  55,  63,  56,  63,
         63,  56,  45,  67,  55,  53,  60,  50,  59,  59,  61,  68,  42,
         62,  42, 117,  54,  55,  53,  77,  53,  55,  55,  59,  57,  53,
         47,  53,  54,  68,  61,  59,  57,  62,  61,  67,  58,  58,  55,
         67,  56,  58,  65,  56,  62,  62,  56,  68,  60,  65,  56,  76,
         53,  44,  42,  53,  55,  61,  55,  57,  49]))

### End Section

In [36]:
df['#timestamp [ns]']

0        1.413393e+18
2        1.413393e+18
4        1.413393e+18
6        1.413393e+18
8        1.413393e+18
             ...
22790    1.413393e+18
22792    1.413393e+18
22794    1.413393e+18
22796    1.413393e+18
22798    1.413393e+18
Name: #timestamp [ns], Length: 11400, dtype: float64

In [37]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].apply(lambda x: f"{x:.0f}")

In [38]:
df['#timestamp [ns]']

0        1413393212225760512
2        1413393212235760384
4        1413393212245760512
6        1413393212255760384
8        1413393212265760512
                ...
22790    1413393326175760384
22792    1413393326185760512
22794    1413393326195760384
22796    1413393326205760512
22798    1413393326215760384
Name: #timestamp [ns], Length: 11400, dtype: object

In [39]:
df.head(20)

,#timestamp [ns],w_RS_S_x [rad s^-1],w_RS_S_y [rad s^-1],w_RS_S_z [rad s^-1],a_RS_S_x [m s^-2],a_RS_S_y [m s^-2],a_RS_S_z [m s^-2]
0,1413393212225760512,0.094946,0.020246,0.058643,9.128357,0.106239,-2.606934
2,1413393212235760384,-0.011170,0.027925,0.069813,9.398040,1.618097,-2.705001
4,1413393212245760512,-0.092153,0.036303,0.078889,8.989429,-0.130755,-2.713173
6,1413393212255760384,-0.005585,0.009076,0.113795,9.299973,-1.234003,-2.476179
8,1413393212265760512,0.061436,0.023736,0.091455,9.275456,0.073550,-2.582418
10,1413393212275760384,0.009774,0.028623,0.060039,9.471589,0.400438,-2.606934
12,1413393212285760512,-0.032114,0.042586,0.086568,9.332662,0.122583,-2.705001
14,1413393212295760384,-0.030718,0.041888,0.094946,9.659550,-0.375922,-2.917478
16,1413393212305760512,-0.000698,0.024435,0.077493,9.291801,-0.490333,-2.598762
18,1413393212315760384,0.032812,0.008378,0.075398,9.447073,-0.098067,-2.655968
20,1413393212325760512,0.006283,0.011170,0.097738,9.447073,0.441299,-2.737690
22,1413393212335760384,-0.028623,0.037001,0.091455,9.757617,0.000000,-2.868445
24,1413393212345760512,-0.018151,0.048171,0.070511,9.324490,-0.482160,-2.500696
26,1413393212355760384,0.020944,0.016755,0.087965,9.201907,-0.179789,-2.574246
28,1413393212365760512,0.009076,0.005585,0.083078,9.487934,0.138928,-2.786723
30,1413393212375760384,-0.016057,0.041888,0.067021,9.545139,0.032689,-2.835756
32,1413393212385760512,-0.012566,0.050964,0.075398,9.455245,-0.310544,-2.680484
34,1413393212395760384,0.001396,0.000698,0.099833,9.250940,0.138928,-2.549729
36,1413393212405760512,-0.011170,0.028623,0.084474,9.626861,-0.253338,-2.958339
38,1413393212415760384,0.001396,0.022340,0.076794,9.806650,-0.343233,-2.884790

In [40]:
df.shape

(11400, 7)

In [41]:
df.to_csv('./mav0/imu0/data_modified.csv', index=False)

In [42]:
!cp ./mav0/imu0/data_modified.csv /home/shiva/Datasets/V2_01_easy/V2_01_easy/mav0/imu0/data.csv