In [113]:
import pandas as pd
import numpy as np

# CAM Changes
- CAM data was recorded at 20hz.
- Will now modify raw data and change it to 4 hz.

In [114]:
camera_type = 'cam0'

In [115]:
df = pd.read_csv(f'./mav0/{camera_type}/data.csv')

In [116]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].astype('float64')
df['#timestamp [ns]'] = df['#timestamp [ns]'].apply(lambda x: f"{x:.0f}")

In [117]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #timestamp [ns]  2280 non-null   object
 1   filename         2280 non-null   object
dtypes: object(2)
memory usage: 35.8+ KB

In [118]:
df.head(20)

        #timestamp [ns]                 filename
0   1413393212255760384  1413393212255760384.png
1   1413393212305760512  1413393212305760512.png
2   1413393212355760384  1413393212355760384.png
3   1413393212405760512  1413393212405760512.png
4   1413393212455760384  1413393212455760384.png
5   1413393212505760512  1413393212505760512.png
6   1413393212555760384  1413393212555760384.png
7   1413393212605760512  1413393212605760512.png
8   1413393212655760384  1413393212655760384.png
9   1413393212705760512  1413393212705760512.png
10  1413393212755760384  1413393212755760384.png
11  1413393212805760512  1413393212805760512.png
12  1413393212855760384  1413393212855760384.png
13  1413393212905760512  1413393212905760512.png
14  1413393212955760384  1413393212955760384.png
15  1413393213005760512  1413393213005760512.png
16  1413393213055760384  1413393213055760384.png
17  1413393213105760512  1413393213105760512.png
18  1413393213155760384  1413393213155760384.png
19  1413393213205760512  1413393213205760512.png

In [119]:
# Reducing from 20 hz to 10 hz
df = df.iloc[::2]

In [120]:
df.head(10)

        #timestamp [ns]                 filename
0   1413393212255760384  1413393212255760384.png
2   1413393212355760384  1413393212355760384.png
4   1413393212455760384  1413393212455760384.png
6   1413393212555760384  1413393212555760384.png
8   1413393212655760384  1413393212655760384.png
10  1413393212755760384  1413393212755760384.png
12  1413393212855760384  1413393212855760384.png
14  1413393212955760384  1413393212955760384.png
16  1413393213055760384  1413393213055760384.png
18  1413393213155760384  1413393213155760384.png

In [121]:
df.shape

(1140, 2)

In [122]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 2278
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #timestamp [ns]  1140 non-null   object
 1   filename         1140 non-null   object
dtypes: object(2)
memory usage: 17.9+ KB

In [123]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].astype('float64')

In [124]:
np.unique(np.diff(df['#timestamp [ns]']), return_counts=True)

(array([1.e+08]), array([1139]))

In [125]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].apply(lambda x: f"{x:.0f}")

In [126]:
df.to_csv(f'./mav0/{camera_type}/data_modified.csv', index=False)

In [127]:
!cp ./mav0/$camera_type/data_modified.csv /home/shiva/Datasets/V2_01_easy/V2_01_easy/mav0/$camera_type/data.csv