In [7]:
import pandas as pd
import numpy as np

# CAM Changes
- CAM data was recorded at 20hz.
- Will now modify raw data and change it to 4 hz.

In [8]:
camera_type = 'cam0'

In [9]:
df = pd.read_csv(f'./mav0/{camera_type}/data.csv')

In [10]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].astype('float64')

In [11]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #timestamp [ns]  2280 non-null   float64
 1   filename         2280 non-null   object
dtypes: float64(1), object(1)
memory usage: 35.8+ KB

In [13]:
# Check the deltas.
orig_deltas = np.unique(np.diff(df['#timestamp [ns]']), return_counts=True)

In [14]:
original_rate = 20
reduction_factor = 2
print("The frequency will be reduced to:", original_rate/reduction_factor)

The frequency will be reduced to: 10.0

In [15]:
# Reducing frequency
df = df.iloc[::reduction_factor]

In [16]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 2278
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #timestamp [ns]  1140 non-null   float64
 1   filename         1140 non-null   object
dtypes: float64(1), object(1)
memory usage: 17.9+ KB

In [17]:
# Check deltas after downsampling.
new_deltas = np.unique(np.diff(df['#timestamp [ns]']), return_counts=True)

In [18]:
#Since we have reduced the frequency, we should get a fractional value when we divide the original deltas by the new deltas
orig_deltas[0] / new_deltas[0]

array([0.49999872, 0.50000128])

In [20]:
df['#timestamp [ns]'] = df['#timestamp [ns]'].apply(lambda x: f"{x:.0f}")

In [21]:
df.head(10)

        #timestamp [ns]                 filename
0   1413393212255760384  1413393212255760384.png
2   1413393212355760384  1413393212355760384.png
4   1413393212455760384  1413393212455760384.png
6   1413393212555760384  1413393212555760384.png
8   1413393212655760384  1413393212655760384.png
10  1413393212755760384  1413393212755760384.png
12  1413393212855760384  1413393212855760384.png
14  1413393212955760384  1413393212955760384.png
16  1413393213055760384  1413393213055760384.png
18  1413393213155760384  1413393213155760384.png

In [126]:
df.to_csv(f'./mav0/{camera_type}/data_modified.csv', index=False)

In [127]:
!cp ./mav0/$camera_type/data_modified.csv /home/shiva/Datasets/V2_01_easy/V2_01_easy/mav0/$camera_type/data.csv